/* Archivo styles.css */
h1 {
    color: rgba(71, 7, 190, 0.678);
    text-align: center;
}
p {
    font-size: 18px;
    color: rgb(22, 17, 17);
}
h2 {
    color: #dce649;
}

.cuadro1 {
    width: 400px;
    height: 300px;
    border: 3px solid #33ffe4;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.texto {
    font-size: 16px;
    color: #333;
}
.cuadro2 {
    width: 400px;
    height: 300px;
    border: 3px solid #ebff33;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.texto {
    font-size: 16px;
    color: #333;
}

.cuadro3 {
    width: 400px;
    height: 300px;
    border: 3px solid hsl(0, 100%, 60%);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.texto {
    font-size: 16px;
    color: #333;
}